@charset "UTF-8";

@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
}

a{
    color: #333;
    text-decoration: none;
}

body{
    font-family: 'NanumSquareNeo-Variable',serif;
    font-size: 18px;
    line-height: 23px;
    color: #333;
}

img{
    vertical-align: top;
}

input{
    outline: none;
}

.wrap{
    width: 100%;
    min-width: 1280px;
}

.header{
    background-color: #afc7a1;
    width: 100%;
    margin-bottom: 50px;
}
.headerIn{
    width: 1240px;
    height: 190px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: flex;
}

.topLogo img{
    width: 400px;
    position: absolute;
    top: 30px;
    left: 420px;
}

.logo img{
    margin: 100px 10px 0 20px;
    width: 180px;
}

.nav .navList{
    width: 700px;
    display: flex;
    justify-content: space-between;
    margin-top: 135px;
    font-weight: 500;
}

.navList li :hover{
    font-weight: bold;
}

.member .memberList{
    display: flex;
    width: 200px;
    font-size: 13px;
    justify-content: space-around;
    position: absolute;
    top: 20px;
    right: 20px;
}

.memberList li :hover{
    font-weight: bold;
}

/* 검색창 위치 못정함 */
.searchBar{
    background-color: #f9f9f9;
    width: 250px;
    border-radius: 20px;
    border: 3px solid #777;
    position: absolute;
    right: 40px;
    top: 68px;
}

.searchBar input{
    width: 200px;
    height: 32px;
    border-radius: 10px;
    font-size: 16px;
    border: none;
    background-color: #f9f9f9;
}

.container{
    width: 1240px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.container h2{
    text-align: center;
    margin-bottom: 20px;
}

.unconfirmedCorp, .unconfirmedProd{
    margin-bottom: 70px;
}

.unCorpBox{
    border: 3px solid #777;
    border-radius: 30px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.unCorpList{
    margin: 30px;
    line-height: 30px;
}

.unCorpBox li{
    border-bottom: 1px solid #b5b3b3;
    margin: 10px;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.unCorpList button{
    background: none;
    border-radius: 10px;
    padding: 3px;
    margin-top: -10px;
    font-weight: bold;
}

.unCorpList button:hover{
    background-color: rgba(255, 0, 0, 0.697);
    color: whitesmoke;
}

.corpN{
    margin: 0 10px;
}

.unProdList {
    display: flex;
    justify-content: space-around;
    font-size: 14px;
    flex-wrap: wrap-reverse;
}

.unProdList img{
    border-radius: 30px;
    margin-bottom: 15px;
}

.unProdList .price{
    font-size: 17px;
    font-weight: bold;
}

.unProdList .sellInfo{
    display: flex;
    font-size: 11px;
    color: #aaa;
}

.unProdList .madeBy{
    font-size: 13px;
    margin-bottom: 30px;
}

.unQNABox{
    border: 3px solid #777;
    border-radius: 30px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.unQNAList{
    margin: 30px;
    line-height: 30px;
}

.unQNABox li{
    border-bottom: 1px solid #b5b3b3;
    margin: 10px;
    text-align: center;
}

.footer{
    margin-bottom : 50px;
}

.footerTop{
    text-align: center;
    font-size: 16px;
    line-height: 70px;
    background-color: #f4f4f4;
    height: 70px;
}

.footerTop .privacyPolicy{
    font-weight: bold;
    color: rgb(253, 134, 49);
}

.footerBottom{
    width: 1240px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 30px;
    font-size: 14px;
    color: #aaa;
    display: flex;
    position: relative;
}

.footerLogo img{
    width: 300px;
    margin-left: -30px;
    margin-bottom: 30px;
}

.rightFooter{
    display: flex;
    position: absolute;
    right: 100px;
    bottom: 0;
}

.ftTitle{
    color: #333;
}

.rightFooter .cs{
    margin-right: 150px;
}