@charset "UTF-8";

@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
}

a{
    color: #333;
    text-decoration: none;
}

body{
    font-family: 'NanumSquareNeo-Variable',serif;
    font-size: 18px;
    line-height: 23px;
    color: #333;
}

img{
    vertical-align: top;
}

input{
    outline: none;
}

.wrap{
    width: 100%;
    min-width: 1280px;
}

.container{
    width: 1240px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}

.container h2{
    text-align: center;
    margin: 20px 0;
}

.unconfirmedProd{
    margin-bottom: 100px;
}

.unProdList {
    display: flex;
    justify-content: space-around;
    font-size: 14px;
    flex-wrap: wrap-reverse;
}

.unProdList img{
    border-radius: 30px;
    margin-bottom: 15px;
}

.unProdList .price{
    font-size: 17px;
    font-weight: bold;
}

.unProdList .sellInfo{
    display: flex;
    font-size: 11px;
    color: #aaa;
}

.unProdList .madeBy{
    font-size: 13px;
    margin-bottom: 30px;
}

.myCorpProd{
    margin-bottom: 100px;
}

.prodList {
    display: flex;
    justify-content: space-around;
    font-size: 14px;
    flex-wrap: wrap-reverse;
}

.prodList img{
    border-radius: 30px;
    margin-bottom: 15px;
}

.prodList .price{
    font-size: 17px;
    font-weight: bold;
}

.prodList .sellInfo{
    display: flex;
    font-size: 11px;
    color: #aaa;
}

.prodList .madeBy{
    font-size: 13px;
    margin-bottom: 30px;
}

.unQNABox{
    border: 3px solid #777;
    border-radius: 30px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.unQNAList{
    margin: 30px;
    line-height: 30px;
}

.unQNABox li{
    border-bottom: 1px solid #b5b3b3;
    margin: 10px;
    text-align: center;
}
