@charset "UTF-8";

@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing:border-box;
}

a{
    color: #333;
    text-decoration: none;
}

body{
    font-family: 'NanumSquareNeo-Variable',serif;
    font-size: 16px;
    line-height: 23px;
    color: #333;
}

img{
    vertical-align: top;
}

input{
    outline: none;
}

.loginForm {
    width:400px;
    height:500px;
    display : flex;
    flex-direction: column;
    align-items:center;
    border: 3px solid rgb(163, 202, 163);
    border-radius: 20px;
    margin:100px auto;
}

.loginForm h3{
	margin-bottom:70px;
}
.id, .pw{
    width: 300px;
    height: 50px;
    border : 1px solid rgb(122, 161, 122);
    border-radius:5px;
    padding: 0 10px;
    margin-bottom: 10px;
}

button {
    background-color: rgb(79, 148, 79);
    color : white;
    width:300px;
    height:50px;
    font-size: 20px;
    font-weight: 600;
    border : none;
    border-radius: 5px;
    margin : 20px 0 30px 0;
}

a:hover{
    font-weight: 700;
}
 
.loginLogo img{
    width: 250px;
    opacity: 0.5;
    margin-bottom: 10px;
}

#title {
    font-size : 45px;
}

#msg {
    height: 30px;
    text-align:center;
    font-size:16px;
    color:red;
    margin-bottom: 20px;
}