@charset "UTF-8";

@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
}

a{
    color: #333;
    text-decoration: none;
}

body{
    font-family: 'NanumSquareNeo-Variable',serif;
    font-size: 18px;
    line-height: 23px;
    color: #333;
}

img{
    vertical-align: top;
}

input{
    outline: none;
}

.wrap{
    width: 100%;
    min-width: 1280px;
}

.mainBanner{
    /* background-color: rgb(255, 230, 198); */
    position: relative;
    z-index: 1;
    margin-bottom: 50px;
}

/* 슬라이드 */
.swiper {
    /* width: 100%;
    height: 100%; */
    width: 100%;
    height: 610px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 1240px;
    height: 420px;
    object-fit: cover;
    position: absolute;
    bottom: 0px;
}

.swiper {
    margin-left: auto;
    margin-right: auto;
}

:root {
    --swiper-theme-color: #666365;
    --swiper-navigation-size: 30px;
}

.header{
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 2; 
}
.headerIn{
    width: 1240px;
    height: 210px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: flex;
}

.topLogo img{
    width: 400px;
    position: absolute;
    top: 30px;
    left: 420px;
}

.logo img{
    margin: 100px 10px 0 20px;
    width: 180px;
}

.nav .navList{
    width: 700px;
    display: flex;
    justify-content: space-between;
    margin-top: 135px;
    font-weight: 500;
}

.navList li :hover{
    font-weight: bold;
}

.member .memberList{
    display: flex;
    width: 280px;
    font-size: 13px;
    justify-content: space-between;
    position: absolute;
    top: 20px;
    right: 20px;
}

.memberList li :hover{
    font-weight: bold;
}

/* 검색창 위치 못정함 */
.searchBar{
    background-color: #f9f9f9;
    width: 250px;
    border-radius: 20px;
    border: 3px solid #777;
    position: absolute;
    right: 40px;
    top: 68px;
}

/* .searchBar{
    background-color: #f9f9f9;
    width: 400px;
    border-radius: 20px;
    border: 3px solid #777;
    position: absolute;
    right: 420px;
    bottom: -10px;
} */

.searchBar input{
    width: 200px;
    height: 32px;
    border-radius: 10px;
    font-size: 16px;
    border: none;
    background-color: #f9f9f9;
}

.container{
    width: 1240px;
    margin-left: auto;
    margin-right: auto;
}

.bestProduct{
    margin-bottom: 50px;
}

.bestProduct h2{
    text-align: center;
    margin-bottom: 30px;
}

.bestList {
    display: flex;
    justify-content: space-around;
    font-size: 14px;
}

.bestList img{
    border-radius: 30px;
    margin-bottom: 15px;
}

.bestList .price{
    font-size: 17px;
    font-weight: bold;
}

.bestList .sellInfo{
    display: flex;
    font-size: 11px;
    color: #aaa;
}

.bestList .madeBy{
    font-size: 13px;
}

.onlineSales h2{
    text-align: center;
    margin-bottom: 30px;
}

.onlineList{
    display: flex;
    justify-content: space-around;
    font-size: 14px;
    margin-bottom: 50px;
}

.onlineList img{
    border-radius: 30px;
    margin-bottom: 15px;
}

.onlineList .price{
    font-size: 17px;
    font-weight: bold;
}

.onlineList .sellInfo{
    display: flex;
    font-size: 11px;
    color: #aaa;
}

.onlineList .madeBy{
    font-size: 13px;
}

.contents1{
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
    width: 100%;
}

.notice{
    background-color: rgb(219, 250, 242);
    width: 350px;
    height: 270px;
}

.notice h2{
    margin: 20px 20px; 
}

.notice h2 img{
    margin-top: -5px;
    margin-right: 8px;
}

.noticeList li{
    border-bottom: 1px solid #c2c2c2;
    margin: 0 30px 10px;
    line-height: 30px;
    list-style: circle inside;
}

.recommendProd{
    width: 800px;
}

#slide2_wrap {
    width: 100%;
    height: 100%;
  }

#swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide .img2 {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contents2{
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

.townPharmacy{
    background-color: #fdd1d1;
    width: 800px;
}

.a{
    background-color: rgb(255, 210, 156);
    width: 350px;
    height: 270px;
}

.footer{
    margin-bottom : 50px;
}

.footerTop{
    text-align: center;
    font-size: 16px;
    line-height: 70px;
    background-color: #f4f4f4;
    height: 70px;
}

.footerTop .privacyPolicy{
    font-weight: bold;
    color: rgb(253, 134, 49);
}

.footerBottom{
    width: 1240px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 30px;
    font-size: 14px;
    color: #aaa;
    display: flex;
    position: relative;
}

.footerLogo img{
    width: 300px;
    margin-left: -30px;
    margin-bottom: 30px;
}

.rightFooter{
    display: flex;
    position: absolute;
    right: 100px;
    bottom: 0;
}

.ftTitle{
    color: #333;
}

.rightFooter .cs{
    margin-right: 150px;
}

