@charset "UTF-8";

@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
}

a{
    color: #333;
    text-decoration: none;
}

body{
    font-family: 'NanumSquareNeo-Variable',serif;
    font-size: 18px;
    line-height: 23px;
    color: #333;
}

img{
    vertical-align: top;
}

input{
    outline: none;
}

.wrap{
    width: 100%;
    min-width: 1280px;
}

.container{
    width: 1240px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.topImg{
    width: 600px;
    height: 600px;
}

.topImg img{
    width: 400px;
}